<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Biblioteca</title>
  <link rel="stylesheet" href="/stylesheets/home.css">
</head>
<body>
  <header class="header">
    <div class="logo">Biblioteca</div>
    <div class="menu">
      <div class="theme-switch">🌙</div>
    </div>
  </header>

  <nav class="categories">
    <a class="category-btn" href="/">Login</a>
    <a class="category-btn" href="/clientes/cadastro">Cadastro</a>
    <a class="category-btn" href="/livros/cadastroLivro">Adicionar livro</a>
    <a class="category-btn" href="/pedidos/obterPedido">Fazer pedido</a>
    <a class="category-btn" href="/clientes/listaClientes">Lista de cliente</a>
    <a class="category-btn" href="/livros/listaLivros">Lista de livro</a>
    <a class="category-btn" href="/pedidos/listaPedido">Lista pedido</a>
  </nav>

  <main class="content">
    <h2 class="section-title">Os presentes mais desejados do momento</h2>
    <div class="book-row">
      <div class="book-card">
        <img src="/img/img-entendendo-algoritmos.jpg" alt="Livro Entendendo Algoritmos" class="book-image">
        <h3>Entendendo Algoritmos</h3>
        <p>Aditya Y. Bhargava</p>
        <p>Educação/Tecnologia</p>
        <p><strong>ID: 1</strong></p>
        <a href="/pedidos/obterPedido"><button>Pedido</button></a>
      </div>
      <div class="book-card">
        <img src="/img/img-sql-curso-pratico.jpg" alt="Livro Sql Curso Pratico" class="book-image">
        <h3>SQL - Curso Prático</h3>
        <p>Celso Henrique Poderoso Oliveira</p>
        <p>Educação/Tencologia</p>
        <p><strong>ID: 2</strong></p>
        <a href="/pedidos/obterPedido"><button>Pedido</button></a>
      </div>
      <div class="book-card">
        <img src="/img/img-aprendendo-javascript.jpg" alt="Livro Aprendendo Javascript" class="book-image">
        <h3>Aprendendo Javascript</h3>
        <p>Davi Flanagan</p>
        <p>Educação/Tecnologia</p>
        <p><strong>ID: 3</strong></p>
        <a href="/pedidos/obterPedido"><button>Pedido</button></a>
      </div>
      <div class="book-card">
        <img src="/img/img-java-como-programar.jpg" alt="Livro Java Como Programar" class="book-image">
        <h3>Java Como Programar</h3>
        <p>Paul Deitel/Harvey Deitel</p>
        <p>Educação/Tecnologia</p>
        <p><strong>ID: 4</strong></p>
        <a href="/pedidos/obterPedido"><button>Pedido</button></a>
      </div>
    </div>
  </main>

  <footer class="footer">
    <p>Contato | Suporte</p>
  </footer>
</body>
</html>
