<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Cadastro</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/stylesheets/cadastroCliente.css'>
    <script src='main.js'></script>
</head>
<body>
    <header class="header">
        <h1>Login</h1>
      </header>
    <form action="/login" method="POST">
        <div id="form-container">
            <div class="input-container">
                <label for="email">Email:</label><br>
                <input type="text" name="email" placeholder="Digite seu email..." required>
            </div>
            <div class="input-container">
                <label for="senha">Senha:</label><br>
                <input type="password" name="senha" placeholder="Digite sua senha..." required>
            </div>
            <div class="join">
                <a href="/clientes/cadastro">Não possuí cadastro? Clique aqui.</a>
            </div>
            <button id="register-button">Enviar</button>
        </div>
    </form>
</body>
</html>