* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #e8e2e2;
}

.header {
  background-color: #2C3E50;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 18px; 
}

#form-container {
  width: 90%; 
  max-width: 400px; 
  margin: 20px auto;
  padding: 15px;
  border: 2px solid #000;
  border-radius: 5px;
  background-color: #fff;
}

.join a{
  text-decoration: none;
  color: #000;
}

.join a:hover{
  color: #092574;
}

.input-container {
  margin: 15px 0; 
  text-align: center; 
}

input[type=text],
input[type=password],
input[type=email] {
  width: 100%; 
  height: 40px; 
  border-radius: 5px;
  background-color: #e8e2e2;
  border: 1px solid #ccc;
  padding: 8px; 
  font-size: 16px; 
}

#register-button {
  width: 100%; 
  height: 45px;
  margin: 20px 0; 
  border: 1px solid;
  border-radius: 5px;
  background-color: #2C3E50;
  color: white;
  cursor: pointer;
  font-size: 16px; 
}

#register-button:hover {
  background-color: #092574;
}

/* Media Queries para smartphones (telas menores que 480px) */
@media (max-width: 480px) {
  .header {
    font-size: 16px; 
    padding: 10px;
  }

  #form-container {
    padding: 10px;
  }

  input[type=text],
  input[type=password],
  input[type=email] {
    height: 35px; 
    font-size: 14px; 
  }

  #register-button {
    height: 40px; 
    font-size: 14px; 
  }
}